.corps{
    background-color:#FFFFFF;
    height:800px;
    width:700px;
    
}
.personaldata{
    background-color:#FFFFFF;
    height:20%;
    width:100%;
    
}
.ProfessionalExperiences{
    background-color:#FFFFFF;
    height:20%;
    width:100%;
    
}
.date{
    background-color:#FFFFFF;
    text-align : right;
}














.border{
    border: 1px solid #FFFFFF;
    margin-left: -70px; margin-top: -15px; margin-right: -180px;
    padding-left :100px; 
    border-block-end-width:234px; 
    
}

